{{#if session.currentUser}}
  {{user-tile}}
<div class="container">
  <strong>Image Input</strong><br>
  {{#if file}}
  <img src="{{file.dataURL}}" width="300">
  <ul>
    <li>Name: {{file.name}}</li>
    <li>Type: {{file.type}}</li>
    <li>Size: {{file.size}} bytes</li>
    <li>Last modified: {{file.date}}</li>
  </ul>
  {{/if}}
  <br>
  {{file-uploader user=user fileChanged="fileSelectionChanged"}}
</div>
{{/if}}
