<nav>
  <div class="container">
    <ul>
      <li class="nav-link">{{#link-to 'index'}}Home{{/link-to}}</li>
      {{login-link}}
      <li class="nav-link">{{signup-link}}</li>
      <li class="nav-link">{{logout-link logout='logout'}}</li>
      <li class="nav-link">{{profile-link transitionToProfile='transitionToProfile'}}</li>
    </ul>
  </div>
  {{search-form search='search'}}
  <span><img src='../../images/logo.png' class="logo" alt="discovr logo"/></span>
</nav>
{{outlet}}
