{{user-tile}}
{{log profile.id}}
{{profile-link transitionToProfile='transitionToProfile'}}
<div class="image-grid">
  {{#each model.pictures as |picture|}}
  <img src={{picture.dataURL}} class='index-images'/>
  <a href={{picture.dataURL}} download={{picture.name}}> download </a>
  <span id="heart">{{fa-icon "heart"}}</span>
  <span id="plus">{{fa-icon "plus"}}</span>
  {{/each}}
</div>
<!--
if foo is true
  <div class= bar>
else
  <div class='foobar'>
/if

-->
